 <!-- header-start -->
 <header>
  <div class="main-menu-area menu-border black-bg pl-135 pr-135">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 col-lg-3 d-flex align-items-center">
                        <div class="logo">
                            <a href="index.html"><img src="../assets/img/logo/logo.png" alt="" /></a>
                        </div>
                        <div class="header-lang  pos-rel f-right d-none d-md-none d-lg-none d-xl-block">
                            <div class="lang-icon">
                              <a href="#">English <i class="far fa-angle-down"></i></a>
                            </div>
                            <ul class="header-lang-list">
                                <li><a href="#">USA</a></li>
                                <li><a href="#">UK</a></li>
                                <li><a href="#">CA</a></li>
                                <li><a href="#">AU</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9">
                    <div class="header-right f-right d-none d-md-none d-lg-block">
                            <div class="header-icon f-right d-lg-none d-xl-block">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                            <div class="menu-bar info-bar text-right">
                                <span class="bar1"></span>
                                <span class="bar2"></span>
                                <span class="bar3"></span>
                            </div>
                        </div>
                        <div class="main-menu text-right">
                            <nav id="mobile-menu">
                                <ul>
                                    <li class="active"><a href="index.html">home <i class="far fa-angle-down"></i></a>
                                        <ul class="sub-menu text-left">
                                            <li><a href="index.html">home 1</a></li>
                                            <li><a href="index-2.html">home 2</a></li>
                                            <li><a href="index-3.html">home 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about-us.html">About <i class="far fa-angle-down"></i></a></li>
                                    <li><a href="gallery-grid.html">gallery</a>
                                        <ul class="sub-menu text-left">
                                            <li><a href="gallery-grid.html">gallery grid</a></li>
                                            <li><a href="gallery-full-width.html">gallery full width</a></li>
                                            <li><a href="gallery-carousel.html">gallery carousel</a></li>
                                            <li><a href="gallery-details.html">gallery-details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="events.html">Events <i class="far fa-angle-down"></i></a>
                                        <ul class="sub-menu text-left">
                                          <li><a (click)="gotoeventslist()" >events list</a></li>
                                            <li><a (click)="gotoeventsspace()" >events space</a></li>
                                            <li><a (click)="gotoeventsville()" >events ville</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">pages <i class="far fa-angle-down"></i></a>
                                        <ul class="sub-menu text-left">
                                            <li><a href="about-us.html">about us</a></li>
                                            <li><a href="shop.html">shop</a></li>
                                            <li><a href="product-details.html">productdetails</a></li>
                                            <li><a href="book-table.html">book table</a></li>
                                            <li><a href="member.html">member</a></li>
                                            <li><a href="checkout.html">checkout</a></li>
                                            <li><a href="cart.html">cart</a></li>
                                            <li><a href="register.html">register</a></li>
                                            <li><a href="wishlist.html">wishlist</a></li>
                                            <li><a href="login.html">login</a></li>
                                            <li><a href="contact.html">contact</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog.html">blog <i class="far fa-angle-down"></i></a>
                                        <ul class="sub-menu text-left">
                                            <li><a href="blog.html">blog</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
      </div>
    </div>
        </div>
        <div class="extra-info">
            <div class="close-icon">
                <button>
                    <i class="far fa-window-close"></i>
                </button>
            </div>
            <div class="logo-side mb-30">
                <a href="index.html">
                    <img src="../assets/img/logo/logo.png" alt="" />
                </a>
            </div>
            <div class="side-info mb-30">
                <div class="contact-list mb-30">
                    <h4>Office Address</h4>
                    <p>123/A, Miranda City Likaoli
                        Prikano, Dope</p>
                </div>
                <div class="contact-list mb-30">
                    <h4>Phone Number</h4>
                    <p>+0989 7876 9865 9</p>
                    <p>+(090) 8765 86543 85</p>
                </div>
                <div class="contact-list mb-30">
                    <h4>Email Address</h4>
                    <p>info@example.com</p>
                    <p>example.mail@hum.com</p>
                </div>
            </div>
            <div class="instagram">
                <a href="#">
                    <img src="../assets/img/portfolio/p1.jpg" alt="">
                </a>
                <a href="#">
                    <img src="../assets/img/portfolio/p2.jpg" alt="">
                </a>
                <a href="#">
                    <img src="../assets/²img/portfolio/p3.jpg" alt="">
                </a>
                <a href="#">
                    <img src="../assets/img/portfolio/p4.jpg" alt="">
                </a>
                <a href="#">
                    <img src="../assets/img/portfolio/p5.jpg" alt="">
                </a>
                <a href="#">
                    <img src="../assets/img/portfolio/p1.jpg" alt="">
                </a>
            </div>
            <div class="social-icon-right mt-20">
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-google-plus-g"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
</header>
    <!-- header-start -->
