<!-- footer-area-start -->
<footer>
  <div class="footer-area black-1-bg pt-90 pb-85">
      <div class="container">
          <div class="row">
              <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                  <div class="footer-wrapper pr-35 pl-35 text-center">
                      <div class="footer-logo">
                          <a href="index.html"><img src="../assets/img/logo/logo-2.png" alt=""></a>
                      </div>
                      <div class="footer-info">
                          <p>Subscribe to our email newsletter to get update, discount and special offers.</p>
                      </div>
                      <div class="newsletter-form text-md-center">
                          <form action="#">
                              <input placeholder="Enter Your Email :" type="email">
                              <button class="btn"><span class="btn-text">subscribe</span> <span class="btn-border"></span></button>
                          </form>
                      </div>
                      <div class="footer-icon">
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                          <a href="#"><i class="fab fa-instagram"></i></a>
                          <a href="#"><i class="fab fa-youtube"></i></a>
                      </div>
                      <div class="copyright">
                          <p>Copyright <i class="far fa-copyright"></i> 2019.<a href="#">BDevs</a>. All Rights Reserved</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- footer-area-end -->
<!-- footer-area-start -->
<footer>
  <div class="footer-area black-1-bg pt-90 pb-85">
      <div class="container">
          <div class="row">
              <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                  <div class="footer-wrapper pr-35 pl-35 text-center">
                      <div class="footer-logo">
                          <a href="index.html"><img src="../assets/qimg/logo/logo-2.png" alt=""></a>
                      </div>
                      <div class="footer-info">
                          <p>Subscribe to our email newsletter to get update, discount and special offers.</p>
                      </div>
                      <div class="newsletter-form text-md-center">
                          <form action="#">
                              <input placeholder="Enter Your Email :" type="email">
                              <button class="btn"><span class="btn-text">subscribe</span> <span class="btn-border"></span></button>
                          </form>
                      </div>
                      <div class="footer-icon">
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                          <a href="#"><i class="fab fa-instagram"></i></a>
                          <a href="#"><i class="fab fa-youtube"></i></a>
                      </div>
                      <div class="copyright">
                          <p>Copyright <i class="far fa-copyright"></i> 2019.<a href="#">BDevs</a>. All Rights Reserved</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- footer-area-end -->
