<main>

  <!-- breadcrumb-area-start -->
  <div class="breadcrumb-area breadcrumb-bg pt-260 pb-265" style="background-image:url(img/bg/page-title-bg.jpg)">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="breadcrumb-text text-center">
                      <h1>Gallery Grid View</h1>
                      <ul class="breadcrumb-menu">
                          <li><a href="index.html">home</a></li>
                          <li><span>Our Gallery</span></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- breadcrumb-area-end -->
  <!-- latest-gallery-area -->
  <div class="gallery-area pt-130 pb-100 fix">
      <div class="container">
          <div class="row">
              <div class="col-xl-8  offset-xl-2">
                  <div class="portfolio-menu portfolio-2-menu text-center mb-55">
                      <button >Event</button>
                      <button data-filter=".cat1" class="">hotel</button>
                      <button data-filter=".cat2" class="">restaurant</button>
                      <button data-filter=".cat3" class="">salon de thé</button>
                      <button data-filter=".cat4" class="">cinéma</button>
                      <button data-filter=".cat5" class="">théatre</button>
                  </div>
              </div>
          </div>
          <div id="portfolio-grid" class="row row-portfolio">
              <div class="grid-sizer"></div>
              <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat2 cat4 mb-30">
                <div class="upcoming-text upcoming-2-text">
                  <div class="up-tag">
                      <span>$49.99</span>
                  </div>
                  <h3><a href="#">DJ Night party </a></h3>
                  <div class="up-event-meta">
                      <span> <i class="far fa-calendar-alt"></i> 05 Dec 2019</span>
                      <span> <i class="far fa-clock"></i> 10 am - 01 pm</span>
                      <span> <i class="far fa-users"></i> 50</span>
                  </div>
                  <p>Sedut perspiciatis unde omnis iste natus error luptate See accusantium doloremque laudantium totam </p>
                  <a class="btn" href="#"><span class="btn-text">Book Ticket</span> <span class="btn-border"></span></a>
              </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat1 cat3 mb-30">
                <div class="upcoming-text upcoming-2-text">
                  <div class="up-tag">
                      <span>$49.99</span>
                  </div>
                  <h3><a href="#">DJ Night party </a></h3>
                  <div class="up-event-meta">
                      <span> <i class="far fa-calendar-alt"></i> 05 Dec 2019</span>
                      <span> <i class="far fa-clock"></i> 10 am - 01 pm</span>
                      <span> <i class="far fa-users"></i> 50</span>
                  </div>
                  <p>Sedut perspiciatis unde omnis iste natus error luptate See accusantium doloremque laudantium totam </p>
                  <a class="btn" href="#"><span class="btn-text">Book Ticket</span> <span class="btn-border"></span></a>
              </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat4 cat2 mb-30">
                <div class="upcoming-text upcoming-2-text">
                  <div class="up-tag">
                      <span>$49.99</span>
                  </div>
                  <h3><a href="#">DJ Night party </a></h3>
                  <div class="up-event-meta">
                      <span> <i class="far fa-calendar-alt"></i> 05 Dec 2019</span>
                      <span> <i class="far fa-clock"></i> 10 am - 01 pm</span>
                      <span> <i class="far fa-users"></i> 50</span>
                  </div>
                  <p>Sedut perspiciatis unde omnis iste natus error luptate See accusantium doloremque laudantium totam </p>
                  <a class="btn" href="#"><span class="btn-text">Book Ticket</span> <span class="btn-border"></span></a>
              </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat3 cat4 mb-30">
                <div class="upcoming-text upcoming-2-text">
                  <div class="up-tag">
                      <span>$49.99</span>
                  </div>
                  <h3><a href="#">DJ Night party </a></h3>
                  <div class="up-event-meta">
                      <span> <i class="far fa-calendar-alt"></i> 05 Dec 2019</span>
                      <span> <i class="far fa-clock"></i> 10 am - 01 pm</span>
                      <span> <i class="far fa-users"></i> 50</span>
                  </div>
                  <p>Sedut perspiciatis unde omnis iste natus error luptate See accusantium doloremque laudantium totam </p>
                  <a class="btn" href="#"><span class="btn-text">Book Ticket</span> <span class="btn-border"></span></a>
              </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat1 cat2 mb-30">
                <div class="upcoming-text upcoming-2-text">
                  <div class="up-tag">
                      <span>$49.99</span>
                  </div>
                  <h3><a href="#">DJ Night party </a></h3>
                  <div class="up-event-meta">
                      <span> <i class="far fa-calendar-alt"></i> 05 Dec 2019</span>
                      <span> <i class="far fa-clock"></i> 10 am - 01 pm</span>
                      <span> <i class="far fa-users"></i> 50</span>
                  </div>
                  <p>Sedut perspiciatis unde omnis iste natus error luptate See accusantium doloremque laudantium totam </p>
                  <a class="btn" href="#"><span class="btn-text">Book Ticket</span> <span class="btn-border"></span></a>
              </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat3 cat2 mb-30">
                <div class="upcoming-text upcoming-2-text">
                  <div class="up-tag">
                      <span>$49.99</span>
                  </div>
                  <h3><a href="#">DJ Night party </a></h3>
                  <div class="up-event-meta">
                      <span> <i class="far fa-calendar-alt"></i> 05 Dec 2019</span>
                      <span> <i class="far fa-clock"></i> 10 am - 01 pm</span>
                      <span> <i class="far fa-users"></i> 50</span>
                  </div>
                  <p>Sedut perspiciatis unde omnis iste natus error luptate See accusantium doloremque laudantium totam </p>
                  <a class="btn" href="#"><span class="btn-text">Book Ticket</span> <span class="btn-border"></span></a>
              </div>
              </div>
          </div>
      </div>
  </div>
  <!-- gallery-area-end -->

  <!-- cta-area-start -->
  <div class="cta-area mb-130">
      <div class="container">
          <div class="cta-bg pt-85 pb-55" style="background-image:url(img/bg/bg-12.jpg)">
              <div class="row">
                  <div class="col-xl-8 col-lg-8">
                      <div class="single-cta mb-30">
                          <div class="cta-content">
                              <h2>Join Our Next Event & Party</h2>
                              <span>Booking your site very early and enjoy the party </span>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4">
                      <div class="cta-button mb-30 text-left text-lg-right">
                          <a class="btn" href="#"><span class="btn-text">Book Noow</span> <span class="btn-border"></span></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- cta-area-end -->

</main>
